*{
    margin: 0px;
    padding: 0px;
}
#links{
    border: solid 1px;
    height: 40px;
    background-color: black;
    line-height: 35px;
}
#text1,#text2,#text3,#text4,#text5{
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding-right: 22px;
    
}
#text1{
    padding-left: 35px;
}
.out1{
    border: solid 1px;
    height: 170px;
     display:flex;
}
#in1,#in2{
    
    border: solid 1px;
    height: 170px;
   
}
#in1{
    width: 170px;
}
#in2{

    width: 1500px;
    background-color: bisque;
}
#clg{
    font-size: 56px;
    color: red;

}
#text7,#text8{
    font-size: 30px;
  font-weight:  bold;
  color: brown;
}
#ugc{
    background-color: aquamarine;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
}
#navbox{
    border: solid 1px;
    height: 50px;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 170px;
    float: left;
    background-color: beige;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 1px;
    
}
ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
ul li {
    list-style: none;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
ul li:hover{
    background-color: orangered;
}
.logos{
    border: solid 1px;
    height: 200px;
    display: flex;
    background-color: black;
}
#lg1,#lg2,#lg3,#lg4,#lg5{
    border: solid 1px;
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
.obox{
    border: solid 1px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    
}
#inbox1,#inbox2,#inbox3{
    border: solid 1px;
    height: 400px;
}
#inbox1{
    width: 600px;
    background-image: url(ashoka.jpeg);
    background-repeat: no-repeat;
    background-size: 200px 400px;
    animation-name: imgchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes imgchange{
    0%{
        background-image: url(ashoka.jpeg);
    }
     10%{
        background-image: url(IMG-20250401-WA0023.jpg);
    }
     30%{
        background-image: url(ashoka.jpeg);
    }
     40%{
        background-image: url(IMG-20250401-WA0023.jpg);
    }
     50%{
        background-image: url(ashoka.jpeg);
    }

}
#inbox1,#inbox2{
    width: 300px;
}